apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  labels:
    app.kubernetes.io/component: prometheus
    app.kubernetes.io/instance: k8s
    app.kubernetes.io/name: prometheus
    app.kubernetes.io/part-of: kube-prometheus
    app.kubernetes.io/version: 3.5.0
  name: k8s
spec:
  alerting:
    alertmanagers:
      - apiVersion: v2
        name: alertmanager-main
        namespace: alertmanager
        port: web
  enableFeatures:
    - exemplar-storage
    - native-histograms
  enableOTLPReceiver: true
  # otlp:
  #   #keepIdentifyingResourceAttributes: true
  #   promoteResourceAttributes:
  #     - service.instance.id
  #     - service.name
  #     - service.namespace
  #     - container.name
  #     - deployment.environment.name
  #     - k8s.cluster.name
  #     - k8s.container.name
  #     - k8s.cronjob.name
  #     - k8s.daemonset.name
  #     - k8s.deployment.name
  #     - k8s.job.name
  #     - k8s.namespace.name
  #     - k8s.pod.name
  #     - k8s.replicaset.name
  #     - k8s.statefulset.name
  affinity:
    # Rule 1: Only use control-plane-02 or control-plane-03
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
            - control-plane-01
            # - control-plane-02
            # - control-plane-03
          - key: kubernetes.io/os
            operator: In
            values:
            - linux
    # Rule 2: Spread replicas across different nodes
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
            # This selector finds other Prometheus pods
            # managed by the operator for your 'k8s' resource.
            - key: prometheus
              operator: In
              values:
              - k8s
          topologyKey: "kubernetes.io/hostname"
  podMetadata:
    labels:
      app.kubernetes.io/component: prometheus
      app.kubernetes.io/instance: k8s
      app.kubernetes.io/name: prometheus
      app.kubernetes.io/part-of: kube-prometheus
      app.kubernetes.io/version: 3.5.0
      sidecar.istio.io/inject: "true"
  externalUrl: "https://prometheus.home.alden.ai"
  # these matchExpressions with DoesNotExist disables scraping because we get metrics from otlp pushes from our otel collectors which takes load off prometheus.
  podMonitorNamespaceSelector:
    matchExpressions:
    - key: scraping-disabled
      operator: Exists
  podMonitorSelector:
    matchLabels:
      scraping-disabled: "true"
  
  probeNamespaceSelector:
    matchExpressions:
    - key: scraping-disabled
      operator: Exists
  probeSelector:
    matchLabels:
      scraping-disabled: "true"
  
  serviceMonitorNamespaceSelector:
    matchExpressions:
    - key: scraping-disabled
      operator: Exists
  serviceMonitorSelector:
    matchLabels:
      scraping-disabled: "true"
  
  scrapeConfigNamespaceSelector:
    matchExpressions:
    - key: scraping-disabled
      operator: Exists
  scrapeConfigSelector:
    matchLabels:
      scraping-disabled: "true"

  ruleNamespaceSelector:
    matchExpressions:
    - key: scraping-disabled
      operator: Exists
  ruleSelector:
    matchLabels:
      scraping-disabled: "true"

  # replicas: 2
  replicas: 1
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 4
      memory: 10Gi
  tsdb:
    outOfOrderTimeWindow: 30m
  enableRemoteWriteReceiver: true
  securityContext:
    fsGroup: 65534
    runAsNonRoot: true
    runAsUser: 65534
    seccompProfile:
      type: RuntimeDefault
  serviceAccountName: prometheus-k8s
  serviceDiscoveryRole: EndpointSlice
  retention: "14d"
  storage:
    volumeClaimTemplate:
      # metadata:
      #   name: prometheus-data
      #   annotations:
      #     nfs.io/storage-path: "prometheus-data/"
      # spec:
      #   storageClassName: nfs-monitoring-retain
      #   resources:
      #     requests:
      #       storage: 100Gi
      #   accessModes:
      #     - ReadWriteMany
      metadata:
        name: prometheus
      spec:
        storageClassName: local-path
        resources:
          requests:
            storage: 200Gi
        accessModes:
          - ReadWriteOnce
  thanos:
    # blockSize: 2h
    blockSize: 8h
    objectStorageConfig:
      key: thanos.yaml
      name: thanos-objectstore
    tracingConfig:
      key: tracing.yaml
      name: thanossidecar-tracing-config
  tracingConfig:
    endpoint: "trace-collector.observability.svc.cluster.local:4317"
    samplingFraction: "0.1"
    insecure: true
    clientType: grpc
    tlsConfig:
      insecureSkipVerify: true
  version: v3.7.3 # renovate: docker=quay.io/prometheus/prometheus
