autoDirectNodeRoutes: true
bandwidthManager:
  # enabled: false
  enabled: true
  # bbr: false
  bbr: true
bpf:
  datapathMode: netkit
  masquerade: true
  # masquerade: false
  preallocateMaps: true
  tproxy: true
bpfClockProbe: true
bgpControlPlane:
  enabled: true
cgroup:
  automount:
    enabled: false
  hostRoot: /sys/fs/cgroup
cni:
  exclusive: false
dashboards:
  enabled: false
# devices: bond+
# Disabling this because i believe every nuc would need its EthernetConfig setup for this. TODO maybe?
enableIPv4BIGTCP: true
# enableIPv4BIGTCP: false
endpointRoutes:
  enabled: true
envoy:
  enabled: false
hubble:
  # enabled: false
  enabled: false
  relay:
    enabled: false
  metrics:
    enabled:
      - dns
      - drop
      - tcp
      - flow
      - port-distribution
      - icmp
      # The entire httpV2 config must be a single quoted string:
      - "httpV2:exemplars=true;labelsContext=source_ip,source_namespace,source_workload,destination_ip,destination_namespace,destination_workload,traffic_direction"
    enableOpenMetrics: true
ipam:
  mode: kubernetes
ipv4NativeRoutingCIDR: 10.244.0.0/16
k8sServiceHost: 127.0.0.1
k8sServicePort: 7445
kubeProxyReplacement: true
kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
l2announcements:
  enabled: false
loadBalancer:
  algorithm: maglev
  mode: dsr
localRedirectPolicies:
  enabled: true
operator:
  dashboards:
    enabled: false
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true
  replicas: 2
  rollOutPods: true
pmtuDiscovery:
  enabled: true
prometheus:
  enabled: true
  serviceMonitor:
    enabled: true
    trustCRDsExist: true
rollOutCiliumPods: true
routingMode: native
securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - PERFMON
      - BPF
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
socketLB:
  enabled: true
  hostNamespaceOnly: true
gatewayAPI:
  enabled: true
  enableAlpn: true
  enableAppProtocol: true
