apiVersion: v1
kind: Service
metadata:
  name: loki-distributor
  labels:
    app.kubernetes.io/name: loki
    app.kubernetes.io/instance: loki
    app.kubernetes.io/component: distributor
spec:
  selector:
    app.kubernetes.io/name: loki
    app.kubernetes.io/component: distributor
  ports:
    - name: http-metrics
      port: 3100
      protocol: TCP
      targetPort: http
