apiVersion: v1
kind: Service
metadata:
  name: loki-query-frontend
  labels:
    app.kubernetes.io/name: loki
    app.kubernetes.io/instance: loki
    app.kubernetes.io/component: query-frontend
spec:
  selector:
    app.kubernetes.io/name: loki
    app.kubernetes.io/component: query-frontend
  ports:
    - name: http-metrics
      port: 3100
      protocol: TCP
      targetPort: http
