# Source: authelia/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: authelia
  labels:
    app: authelia
    component: authelia
    app.kubernetes.io/name: authelia
    app.kubernetes.io/instance: authelia
    app.kubernetes.io/version: 4.38.17
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: authelia
      app.kubernetes.io/instance: authelia
  revisionHistoryLimit: 5
  replicas: 2
  minReadySeconds: 0
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: "100%"
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        app: authelia
        component: authelia
        app.kubernetes.io/name: authelia
        app.kubernetes.io/instance: authelia
        sidecar.istio.io/inject: "true"
        app.kubernetes.io/version: 4.38.17
    spec:
      hostNetwork: false
      hostPID: false
      hostIPC: false
      affinity:
        nodeAffinity: {}
        podAffinity: {}
        podAntiAffinity: {}
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: authelia
          image: authelia/authelia:4.39.13
          imagePullPolicy: IfNotPresent
          command: ["authelia"]
          resources:
            limits: {}
            requests: {}
          env:
            - name: AUTHELIA_SERVER_DISABLE_HEALTHCHECK
              value: "true"
            - name: X_AUTHELIA_CONFIG
              value: '/configuration.yaml'
            - name: X_AUTHELIA_CONFIG_FILTERS
              value: template
            - name: AUTHELIA_STORAGE_POSTGRES_ADDRESS
              value: authelia-postgres-18-rw.authelia.svc.cluster.local:5432
            - name: AUTHELIA_STORAGE_POSTGRES_DATABASE
              valueFrom:
                secretKeyRef:
                  key: dbname
                  name: authelia-postgres-18-app
            - name: AUTHELIA_STORAGE_POSTGRES_USERNAME
              valueFrom:
                secretKeyRef:
                  name: authelia-postgres-18-app
                  key: username
            - name: AUTHELIA_STORAGE_POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: authelia-postgres-18-app
                  key: password
          startupProbe:
            failureThreshold: 6
            httpGet:
              path: /api/health
              port: http
              scheme: HTTP
            initialDelaySeconds: 3
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 5
          livenessProbe:
            failureThreshold: 5
            httpGet:
              path: /api/health
              port: http
              scheme: HTTP
            initialDelaySeconds: 0
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            failureThreshold: 5
            httpGet:
              path: /api/health
              port: http
              scheme: HTTP
            initialDelaySeconds: 0
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 5
          ports:
            - name: http-metrics
              containerPort: 9959
              protocol: TCP
            - name: http
              containerPort: 9091
              protocol: TCP
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          volumeMounts:
            - mountPath: /config/users_database.yml
              name: secret-config
              readOnly: true
              subPath: users_database.yml
            - mountPath: /configuration.yaml
              name: secret-config
              readOnly: true
              subPath: configuration.yaml
      volumes:
        - name: secret-config
          secret:
            secretName: authelia-config
      automountServiceAccountToken: false
