apiVersion: v1
kind: Service
metadata:
  name: loki-ruler
  labels:
    app.kubernetes.io/name: loki
    app.kubernetes.io/instance: loki
    app.kubernetes.io/component: ruler
spec:
  selector:
    app.kubernetes.io/name: loki
    app.kubernetes.io/component: ruler
  ports:
    - name: http-metrics
      port: 3100
      protocol: TCP
      targetPort: http
    - name: grpc
      port: 9095
      protocol: TCP
      targetPort: grpc
