apiVersion: v1
kind: Service
metadata:
  name: loki-proxy
spec:
  selector:
    app.kubernetes.io/name: loki
    app.kubernetes.io/component: proxy
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: http
