apiVersion: v1
kind: Service
metadata:
  name: loki-ingester
  labels:
    app.kubernetes.io/name: loki
    app.kubernetes.io/instance: loki
    app.kubernetes.io/component: ingester
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app.kubernetes.io/name: loki
    app.kubernetes.io/component: ingester
  ports:
    - name: http-metrics
      port: 3100
      protocol: TCP
      targetPort: http
    - name: grpc
      port: 9095
      protocol: TCP
      targetPort: grpc
