apiVersion: apps/v1
kind: Deployment
metadata:
  name: docker-registry
  labels:
    app: registry
spec:
  replicas: 1
  selector:
    matchLabels:
      app: registry
  template:
    metadata:
      labels:
        app: registry
    spec:
      securityContext:
        runAsUser: 45454
        runAsGroup: 45454
        fsGroup: 45454
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: registry
          image: registry:3
          imagePullPolicy: Always
          securityContext:
            privileged: false
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 45454
            runAsGroup: 45454
            seccompProfile:
              type: RuntimeDefault
            capabilities:
              drop:
                - ALL
          env:
            - name: OTEL_EXPORTER_OTLP_TRACES_ENDPOINT
              value: "http://trace-collector.observability.svc.cluster.local:4318/v1/traces"
          ports:
            - containerPort: 5000
              name: tcp
            - containerPort: 5001
              name: metrics
          volumeMounts:
            - name: registry-data
              mountPath: /var/lib/registry
      volumes:
        - name: registry-data
          persistentVolumeClaim:
            claimName: registry-data
