homelab-live-worker-01.yaml
homelab-live-worker-02.yaml
homelab-live-worker-03.yaml
homelab-live-worker-04.yaml
homelab-live-worker-05.yaml
homelab-live-worker-08.yaml
homelab-live-worker-09.yaml
homelab-live-worker-10.yaml
homelab-live-control-plane-01.yaml
homelab-live-control-plane-02.yaml
homelab-live-control-plane-03.yaml
talosconfig
homelab-live-worker-11.yaml
