apiVersion: v1
kind: Service
metadata:
  name: loki-gateway
  labels:
    app: loki
    component: gateway
    helm.sh/chart: loki-6.16.0
    app.kubernetes.io/name: loki
    app.kubernetes.io/version: "3.1.1"
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/component: gateway
spec:
  type: ClusterIP
  ports:
    - name: http-metrics
      port: 80
      targetPort: http-metrics
      protocol: TCP
  selector:
    app: loki
    component: gateway
    app.kubernetes.io/name: loki-gateway
    app.kubernetes.io/instance: nginx
    app.kubernetes.io/component: gateway
